@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  p {
    @apply mb-8;
  }
}

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 170%;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}


section {
  max-width: 49.2rem;
  padding: 0 3.2rem;
  margin: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}