@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  p {
    @apply mb-8;
  }
}

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 170%;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

strong {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}


section {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: auto;
}

.sectionBlock {
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
}

.sectionBlog {
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  line-height: 160%;
}

.page {
  min-height: calc(100vh - 200px);
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.titleColor {
  background: linear-gradient(90deg, #6378EC 0%, #E95A29 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradientFeedback {
  background: linear-gradient(180deg, #FFEDE7 0%, rgba(255, 237, 231, 0) 100%);;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}